# ignore everything
/*

# general whitelist files
!/.gitignore
!/README.md

# 1. unignore custom
!/custom/
# 2. ignore everything in custom
/custom/*
# 3. unignore custom/cobfig
!/custom/cobfig/
# 4. reignore some shit
/custom/cobfig/sound/
/custom/cobfig.vpk
/custom/cobfig/bin/release/*
/custom/cobfig/bin/response
/custom/cobfig/bin/token

# 1. unignore cfg
!/cfg/
# 2. ignore everything in cfg
/cfg/*
# 3. unignore relevant files
!/cfg/controls.cfg
!/cfg/settings.cfg
!/cfg/settings_demoman.cfg
!/cfg/settings_engineer.cfg
!/cfg/settings_heavyweapons.cfg
!/cfg/settings_medic.cfg
!/cfg/settings_pyro.cfg
!/cfg/settings_scout.cfg
!/cfg/settings_sniper.cfg
!/cfg/settings_soldier.cfg
!/cfg/settings_spy.cfg
!/cfg/settings.cfg